.about {
	position: absolute;
	top: 80px;
	left: 10vw;

	width: 80vw;
	height: calc(100vh - 50px);
}

.about .insideabout {
	margin-bottom: 20px;
}

.about h1 {
	width: 100%;

	font-size: 50px;

	text-align: center;
}

.about p {
	font-size: 20px;
}

.about .imagewrapper {
	width: 100%;
	height: auto;

	text-align: center;
}

.about .imagewrapper img {
	width: 100%;
	max-width: 325px;
}