.main {
	overflow-x: hidden;
}

.intro {
	position: absolute;
	top: calc(50% - 250px + 50px);
	left: calc(50% - 250px);

	width: 500px;
	height: 500px;
}

.intro p {
	margin: 0;
}

.intro a {
	text-decoration: underline;
	color: #FFF7C0;
}

.intro .header:not(.scroll) {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro .header {
	width: 100%;
	text-align: center;
}

.intro .header p {
	font-size: 90px;
	line-height: 70px;
	font-weight: bolder;

	text-align: center;
}

.intro .header p span {
	padding: 0 10px 0 10px;

	background-color: rgb(0, 0, 0, 0.3);
}

.intro .avatar {
	position: relative;
	margin-top: 30px;

	text-align: center;
}

.intro .avatar img {
	width: 200px;
}

.intro .subheader {
	position: relative;
	bottom: 0;

	margin-bottom: calc((150px/2) + 15px);

	width: 100%;
	text-align: center;
}

.intro .subheader p {
	font-size: 40px;
	line-height: 40px;
	font-weight: bolder;
}

.intro .subheader h2 {
	margin-bottom: 5px;
}
.intro .subheader img {
	height: 30px;
	border-radius: 10px;
}