@media only screen and (max-width: 760px) {
	.modlist th {
		font-size: 12px !important;
	}

	.modrow .logo img {
		width: 60px !important;
	}

	.modrow .description {
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 504px) {
	.selectorwrapper {
		margin-top: 60px !important;
	}
}
@media only screen and (max-width: 462px) {
	.modwrapper {
		margin-top: 80px !important;
	}
	.submenuwrapper {
		margin-top: 90px !important;
	}
}

table {
	border-collapse: collapse;
}

table th {
	position: -webkit-sticky;
	position: sticky;
	z-index: 2;

	top: 35px;
	height: 80px;

	box-shadow: inset 0 -2px 0 #FFF7C0;

	background-color: #484d54;
}

.backgroundwrapper {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	width: 300vw;
	height: 80px;

	background-color: #484d54;
	overflow: hidden;
}

.modwrapper a,
.submenuwrapper a {
	color: #FFF7C0;
	text-decoration: none;
}

.modwrapper {
	position: absolute;
	top: 0;

	margin-top: 50px;

	width: 100%;
	height: auto;

	background-color: #484d54;
}

/* Submenu */
.submenuwrapper {
	position: absolute;
	z-index: 5;
	left: 0;
	width: 100%;

	margin-top: 60px;

	text-align: center;
}

.submenuwrapper p {
	display: inline-block;
	font-size: 20px;
	font-weight: bolder;

	padding: 0 10px 0 10px;
	margin: 0;
}
.submenuwrapper p:hover {
	color: #BFDAAF;
}

.modlist {
	position: relative;
	width: 98%;
	left: 1%;

	margin-top: 5px;
	margin-bottom: 60px;

	background-color: #484d54;
}

.modlist .modheader {
	vertical-align: bottom;
	line-height: 40px;
	background-color: #484d54;
}

.modlist th {
	font-size: 20px;
}

.modlist th,
.modlist td {
	margin: 0;
	padding: 10px 5px 10px 5px;

	text-align: left;

	border-bottom: 1px solid #FFF7C0;
}

.modlist th.changelog,
.modlist th.versions {
	text-align: center;
}

.modrow {
	margin: 10px;
}
.modrow:hover {
	background-color: #3d4145;
}
.defaultmodrinth .modrow:hover {
	cursor: url("/assets/images/modrinth_pointer.png"),auto;
}
.defaultcurseforge .modrow:hover {
	cursor: url("/assets/images/curseforge_pointer.png"),auto;
}

.modrow .logo img {
	width: 100px;

	padding: 0 20px 0 10px;
}

.modrow .name {
	padding-right: 10px;
}

.modrow .description {
	font-size: 16px;

	padding-right: 10px;
}

.modrow .changelog {
	text-align: center;
}
.modrow .changelog img {
	width: 32px;
}

.modrow .versions {
	text-align: center;
}
.modrow .versions img {
	width: 50px;
}

.modrow .dependencies {
	text-align: right;
}
.modrow .dependencies img {
	width: 50px;

	padding-right: 10px;
}

/* Version Selector Dropdown */
.selectorwrapper {
	width: 100%;
	height: auto;

	text-align: center;

	margin-top: 50px;
	margin-bottom: -20px;
}
.dropdown-check-list {
	position: relative;
	left: calc(50% - 88px);

	width: 120px;
}

.dropdown-check-list .anchor {
	position: relative;
	z-index: 9;

	cursor: pointer;
	display: inline-block;
	padding: 5px 50px 5px 10px;
	border: 1px solid #ccc;

	width: 100%;
}

.dropdown-check-list .anchor:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 10px;
	top: 20%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
	right: 8px;
	top: 21%;
}

.dropdown-check-list ul.items {
	position: absolute;
	z-index: 9;

	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;

	width: 176px;
	background-color: #484d54;
}

.dropdown-check-list ul.items li {
	list-style: none;
	width: 100%;

	text-align: left;
}

.dropdown-check-list ul.items li input {
	margin: 5px 10px 5px 20px;
}
.dropdown-check-list ul.items li p {
	display: inline;
}

.dropdown-check-list.visible .items {
	display: block;
}

/* Changelog */
.changelogwrapper {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
}

.changelogwrapper .insidechangelog {
	position: fixed;
	z-index: 12;
	top: 20%;
	left: 20%;

	width: 60%;
	height: 60%;

	border: 2px solid #FFF7C0;
	border-radius: 5%;

	background-color: #484d54;
}

.changelogwrapper .insidechangelog .closewrapper {
	position: relative;
	z-index: 13;
	float: right;

	margin-right: 15px;
}

.changelogwrapper .insidechangelog .closewrapper p {
	margin: 0;

	font-size: 40px;
	color: #EBC288;
}
.changelogwrapper .insidechangelog .closewrapper p:hover {
	cursor: pointer;
	color: red;
}

.changelogwrapper .insidechangelog .changelogcontent {
	position: relative;
	top: 5%;
	left: 5%;

	width: 90%;
	height: 90%;

	overflow: scroll;
}

.changelogwrapper .insidechangelog .changelogcontent a {
	text-decoration: underline;
	color: #EBC288;
}